In [1]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
age = titanic['age']

In [9]:
age.describe()
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
age.count()

np.int64(714)

In [8]:
age.size

891

In [10]:
len(age)

891

In [11]:
age.sum()

np.float64(21205.17)

In [17]:
age.sum(skipna=True)

np.float64(21205.17)

In [18]:
sum(age)

nan

In [16]:
help(pd.Series.sum)

Help on function sum in module pandas.core.series:

sum(self, axis: 'Axis | None' = None, skipna: 'bool' = True, numeric_only: 'bool' = False, min_count: 'int' = 0, **kwargs)
    Return the sum of the values over the requested axis.

    This is equivalent to the method ``numpy.sum``.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.

        .. warning::

            The behavior of DataFrame.sum with ``axis=None`` is deprecated,
            in a future version this will reduce over both axes and return a scalar
            To retain the old behavior, pass axis=0 (or do not pass axis).

        .. versionadded:: 2.0.0

    skipna : bool, default True
        Exclude NA/null values when computing the result.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    min_count : int, default 0
        The required number of valid values to perform the operation. If fewer than
        ``min_count`` non-NA values are present the result will be NA.
    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or scalar

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.sum()
    14

    By default, the sum of an empty or all-NA Series is ``0``.

    >>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
    0.0

    This can be controlled with the ``min_count`` parameter. For example, if
    you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

    >>> pd.Series([], dtype="float64").sum(min_count=1)
    nan

    Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
    empty series identically.

    >>> pd.Series([np.nan]).sum()
    0.0

    >>> pd.Series([np.nan]).sum(min_count=1)
    nan

In [19]:
age.mean()

np.float64(29.69911764705882)

In [20]:
age.median()

np.float64(28.0)

In [21]:
age.std()

np.float64(14.526497332334042)

In [22]:
age.min()

np.float64(0.42)

In [23]:
age.max()

np.float64(80.0)

In [24]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [25]:
help(pd.Series.unique)

Help on function unique in module pandas.core.series:

unique(self) -> 'ArrayLike'
    Return unique values of Series object.

    Uniques are returned in order of appearance. Hash table-based unique,
    therefore does NOT sort.

    Returns
    -------
    ndarray or ExtensionArray
        The unique values returned as a NumPy array. See Notes.

    See Also
    --------
    Series.drop_duplicates : Return Series with duplicate values removed.
    unique : Top-level unique method for any 1-d array-like object.
    Index.unique : Return Index with unique values from an Index object.

    Notes
    -----
    Returns the unique values as a NumPy array. In case of an
    extension-array backed Series, a new
    :class:`~api.extensions.ExtensionArray` of that type with just
    the unique values is returned. This includes

        * Categorical
        * Period
        * Datetime with Timezone
        * Datetime without Timezone
        * Timedelta
        * Interval
        * Sparse
        * IntegerNA

    See Examples section.

    Examples
    --------
    >>> pd.Series([2, 1, 3, 3], name='A').unique()
    array([2, 1, 3])

    >>> pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)]).unique()
    <DatetimeArray>
    ['2016-01-01 00:00:00']
    Length: 1, dtype: datetime64[ns]

    >>> pd.Series([pd.Timestamp('2016-01-01', tz='US/Eastern')
    ...            for _ in range(3)]).unique()
    <DatetimeArray>
    ['2016-01-01 00:00:00-05:00']
    Length: 1, dtype: datetime64[ns, US/Eastern]

    An Categorical will return categories in the order of
    appearance and with the same dtype.

    >>> pd.Series(pd.Categorical(list('baabc'))).unique()
    ['b', 'a', 'c']
    Categories (3, object): ['a', 'b', 'c']
    >>> pd.Series(pd.Categorical(list('baabc'), categories=list('abc'),
    ...                          ordered=True)).unique()
    ['b', 'a', 'c']
    Categories (3, object): ['a' < 'b' < 'c']

In [26]:
len(age.unique())

89

In [27]:
age.nunique()

88

In [29]:
age.nunique(dropna=True)

88

In [30]:
age.nunique(dropna=False)

89

In [31]:
age.value_counts()

age
24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
         ..
24.50     1
0.67      1
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [33]:
age.value_counts(dropna=False, sort=True)

age
NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
24.50      1
0.67       1
0.42       1
34.50      1
74.00      1
Name: count, Length: 89, dtype: int64

In [34]:
age.value_counts(dropna=True, sort=True, ascending=False, normalize=True)

age
24.00    0.042017
22.00    0.037815
18.00    0.036415
28.00    0.035014
30.00    0.035014
           ...
24.50    0.001401
0.67     0.001401
0.42     0.001401
34.50    0.001401
74.00    0.001401
Name: proportion, Length: 88, dtype: float64

In [39]:
age.value_counts(dropna=False, sort=True, ascending=False, normalize=True)

age
NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
24.50    0.001122
0.67     0.001122
0.42     0.001122
34.50    0.001122
74.00    0.001122
Name: proportion, Length: 89, dtype: float64

In [36]:
30 / age.count()

np.float64(0.04201680672268908)

In [38]:
30 / age.size

0.03367003367003367

In [35]:
age.value_counts(dropna=True, sort=True, ascending=False, normalize=True, bins=7)

(23.157, 34.526]    0.261504
(11.789, 23.157]    0.199776
(34.526, 45.894]    0.150393
(0.339, 11.789]     0.076319
(45.894, 57.263]    0.076319
(57.263, 68.631]    0.029181
(68.631, 80.0]      0.007856
Name: proportion, dtype: float64

In [48]:
titanic.fare.value_counts().index[0]

np.float64(8.05)