In [2]:
import numpy as np
import pandas as pd

In [3]:
sales = np.array([10, 25, 6, 36, 2])
sales

array([10, 25,  6, 36,  2])

In [4]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [5]:
pd.Series(sales, index=['day1', 'day2', 'day3', 'day4', 'day5'], name='sales')

day1    10
day2    25
day3     6
day4    36
day5     2
Name: sales, dtype: int64

In [6]:
dic = {"ali": 31, "karim": 33, "fatemeh": 25}
pd.Series(dic, index=["ali", "karim", "fatemeh", "akbar"], name='age')

ali        31.0
karim      33.0
fatemeh    25.0
akbar       NaN
Name: age, dtype: float64

In [7]:
pd.Series(dic, index=[1, 2, 3, 4, 5], name='age')

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: age, dtype: float64