In [1]:

import pandas as pd

In [7]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [8]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [11]:
age = titanic['age']

In [12]:
titanic['age'][0]

np.float64(22.0)

In [13]:
age[0]

np.float64(22.0)

In [14]:
age.iloc[2]

np.float64(26.0)

In [15]:
age[2]

np.float64(26.0)

In [16]:
age[[3, 4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [17]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64