In [3]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')
age = titanic['age']
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [4]:
age.nlargest(2)

630    80.0
851    74.0
Name: age, dtype: float64

In [6]:
age.idxmax()

630

In [7]:
age.nsmallest(2)

803    0.42
755    0.67
Name: age, dtype: float64

In [8]:
age.idxmin()

803

In [9]:
age.loc[630]

np.float64(80.0)

In [10]:
age.loc[803]

np.float64(0.42)

In [13]:
titanic.loc[age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

In [18]:
age.nlargest(1).index

Index([630], dtype='int64')

In [23]:
age.nlargest(1).values

array([80.])

In [25]:
titanic.iloc[age.nlargest(1).index]

     survived  pclass   sex   age  sibsp  parch  fare embarked deck
630         1       1  male  80.0      0      0  30.0        S    A

baraye iloc ma index mikhaim ke idxmax ya idxmin behemon mide, age az nlargest ya nsmallest mikhai estefade koni madde nazar dashte bash ke inha ye
 array return mikonan

age.nlargest(1) returns a Series with the largest values, but .values returns an array of the actual values, not the row indices. Since iloc requires the row positions (or integer-based indices), you need to use .index instead of .values.

In [31]:
age.nlargest(1)

630    80.0
Name: age, dtype: float64

In [32]:
age.nlargest(1).index

Index([630], dtype='int64')

In [33]:
age.nlargest(1).index[0]

np.int64(630)

In [35]:
age.idxmax()

630

In [37]:
titanic.iloc[age.nlargest(1).index[0]]

survived       1
pclass         1
sex         male
age         80.0
sibsp          0
parch          0
fare        30.0
embarked       S
deck           A
Name: 630, dtype: object

In [38]:
titanic.iloc[age.idxmax()]

survived       1
pclass         1
sex         male
age         80.0
sibsp          0
parch          0
fare        30.0
embarked       S
deck           A
Name: 630, dtype: object