In [3]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [6]:
min(titanic)

'age'

In [7]:
max(titanic)

'survived'

In [8]:
round(titanic, 1)

     survived  pclass     sex   age  sibsp  parch  fare embarked deck
0           0       3    male  22.0      1      0   7.2        S  NaN
1           1       1  female  38.0      1      0  71.3        C    C
2           1       3  female  26.0      0      0   7.9        S  NaN
3           1       1  female  35.0      1      0  53.1        S    C
4           0       3    male  35.0      0      0   8.0        S  NaN
..        ...     ...     ...   ...    ...    ...   ...      ...  ...
886         0       2    male  27.0      0      0  13.0        S  NaN
887         1       1  female  19.0      0      0  30.0        S    B
888         0       3  female   NaN      1      2  23.4        S  NaN
889         1       1    male  26.0      0      0  30.0        C    C
890         0       3    male  32.0      0      0   7.8        Q  NaN

[891 rows x 9 columns]

<h1 style = "color:yellow;" > Dataframe Attributes </h1>

In [6]:
titanic.shape

(891, 9)

In [8]:
titanic.size

8019

In [9]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [5]:
len(titanic)

891

In [9]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

<h1 style = "color:yellow;" > Dataframe Methods </h1>

In [11]:
titanic.head(n=2)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [14]:
titanic.min()

TypeError: '<=' not supported between instances of 'str' and 'float'

In [15]:
titanic.min(numeric_only=True)

survived    0.00
pclass      1.00
age         0.42
sibsp       0.00
parch       0.00
fare        0.00
dtype: float64

<h1 style = "color:yellow;" > Dataframe Methods </h1>

In [16]:
titanic.mean(numeric_only=True)

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64