In [10]:
my_dict = {
    "Name": ["Cristiano Ronaldo", "Lionel Messi", "Neymar", "Zlatan Ibrahimovic"],
    "Nationality": ["Portugal", "Argentina", "Brazil", "Sweden"],
    "Club": ["Real Madrid", "Barcelona", "PSG", "Inter"],
    "Height": [187, 169, 175, 193]
}
import pandas as pd

df = pd.DataFrame(my_dict)
df

                 Name Nationality         Club  Height
0   Cristiano Ronaldo    Portugal  Real Madrid     187
1        Lionel Messi   Argentina    Barcelona     169
2              Neymar      Brazil          PSG     175
3  Zlatan Ibrahimovic      Sweden        Inter     193

In [11]:
df.set_index("Name", inplace=True)
df

                   Nationality         Club  Height
Name
Cristiano Ronaldo     Portugal  Real Madrid     187
Lionel Messi         Argentina    Barcelona     169
Neymar                  Brazil          PSG     175
Zlatan Ibrahimovic      Sweden        Inter     193

In [12]:
df.loc["Lionel Messi"]

Nationality    Argentina
Club           Barcelona
Height               169
Name: Lionel Messi, dtype: object